.profilehead, .pbutton{
    display: flex;
    justify-content: center;
    margin: 0px auto;
}
.profiletext{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: #000;
}
.profilehead{
    font-size: 2.2em;
    padding: 10px;
}
.pbutton{
    padding: 14px;
    width: 20%;
    font-size: 1.3rem;
}
.pubutton{
    padding-bottom: 10px;
    width: 10%;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.carda {
    width: auto;
    background-color: #efefef;
    border: solid 1px #000 0.7;
    cursor: pointer;
    transition: all 0.5s;

}

.image img {
    transition: all 0.5s
}

.carda:hover .image img {
    transform: scale(1.5)
}

.btna {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}